/* Memberikan warna latar belakang abu-abu muda pada baris utama (bundle) */
.main-bundle-row {
    background-color: #d9d9d9 !important;
    font-weight: 500;
}

/* 
  BARU: Aturan untuk Hover
  Ant Design menerapkan warna hover pada sel (td), bukan baris (tr).
  Kita perlu menargetkan 'td' di dalam baris yang di-hover untuk menimpa style default AntD
  dan menjaganya tetap berwarna sama.
*/
.main-bundle-row:hover>td {
    background: #d9d9d9 !important;
}

/* Opsional: Menghilangkan border bawah pada baris utama saat di-expand agar terlihat menyatu */
.main-bundle-row.ant-table-row-expanded {
    border-bottom: none !important;
}